<form [formGroup]="contractForm">
  <div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
      <h3 class="card-title">Novo Contrato</h3>
      <div class="card-toolbar">
        <div class="example-tools justify-content-center">
          <div class="radio-inline">
            <label class="radio radio-solid">
              <input type="radio" name="example_1" checked="checked" value="1">
              <span></span>
              Contrato Density
            </label>
            <label class="radio radio-solid">
              <input type="radio" name="example_2" value="2">
              <span></span>
              Contrato Pronto
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group row">
        <div class="col-lg-3 col-md-3">
          <label>Nome / Razação Social</label>
          <input class="form-control form-control-solid" formControlName="name">
        </div>
        <div class="col-lg-3 col-md-3">
          <label>Email</label>
          <input class="form-control form-control-solid" formControlName="email">
        </div>
        <div class="col-lg-3 col-md-3">
          <label>Tipo</label>
          <div class="radio-inline">
            <label class="radio radio-solid">
              <input type="radio" name="person" checked="checked" value="1" formControlName="person">
              <span></span>
              Pessoa Juridica
            </label>
            <label class="radio radio-solid">
              <input type="radio" name="person" value="2" formControlName="person">
              <span></span>
              Pessoa Fisica
            </label>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <label>CNPJ</label>
          <input class="form-control form-control-solid" formControlName="document">
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>

      <div class="form-group row">
        <div class="col-lg-3 col-md-3">
          <label>Cep</label>
          <input class="form-control form-control-solid"  formControlName="cep">
        </div>
        <div class="col-lg-3 col-md-3">
          <label>Rua</label>
          <input class="form-control form-control-solid" formControlName="street">
        </div>
        <div class="col-lg-2 col-md-2">
          <label>Numero</label>
          <input class="form-control form-control-solid" formControlName="number">
        </div>
        <div class="col-lg-4 col-md-4">
          <label>Complemento</label>
          <input class="form-control form-control-solid" formControlName="complement">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-3 col-md-3">
          <label>Bairro</label>
          <input class="form-control form-control-solid" formControlName="neighborhood">
        </div>
        <div class="col-lg-3">
          <label>Cidade</label>
          <select class="form-control" name="city" formControlName="city">
            <option value="01">Selecione uma Cidade</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3">
          <label>Estado</label>
          <select class="form-control" name="state" formControlName="state">
            <option value="01">Selecione uma Estado</option>
          </select>
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>
      <p class="bg-primary-o-50 text-black py-2 px-4">Medicos</p>
      <div formArrayName="doctors">
        <div *ngFor="let doctor of doctorFormGroups.controls; let i=index">
          <hr *ngIf="i > 0" /> 
          <div class="form-group row">
            <div class="col-lg-12">
              <span class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">
                Medico {{ i+1 }}
              </span>
              <button class="btn btn-danger btn-sm mr-3 pull-right" type="button" (click)="deleteDoctor(i)">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>           
          </div>
          <div [formGroupName]="i">
            <div class="form-group row">
              <div class="col-lg-5 col-md-5">
                <label>Nome</label>
                <input class="form-control form-control-solid" formControlName="doctor_name">
              </div>
              <div class="col-lg-3 col-md-2">
                <label>CPF</label>
                <input class="form-control form-control-solid" formControlName="doctor_document">
              </div>
              <div class="col-lg-2 col-md-2">
                <label>Data Nascimento</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="doctor_birthday">
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2">
                <label>CRM</label>
                <input class="form-control form-control-solid" formControlName="doctor_crm">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3 col-md-3">
                <label>E-mail</label>
                <input class="form-control form-control-solid" formControlName="doctor_email">
              </div>
              <div class="col-lg-3 col-md-3">
                <label>Telefone</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="doctor_phone" >
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-phone"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>Celular</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="doctor_celphone" >
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-mobile"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <label>Especialidade</label>
                <select class="form-control" name="due_at" formControlName="doctor_speciality">
                  <option value="01">Oftalmo</option>
                  <option value="02">Cardiologista</option>
                </select>
              </div>
            </div>             
          </div>            
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-12 col-md-12">
          <button class="btn btn-success btn-sm mr-3 pull-right" type="button" (click)="addDoctor()">
            <i class="fa fa-plus-circle"></i> Adicionar
          </button>
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>
      <p class="bg-primary-o-50 text-black py-2 px-4">Dados do Contrato</p>

      <div class="form-group row">
        <div class="col-lg-2 col-md-2">
          <label>Dat. Inicio</label>
          <div class="input-group">
            <input type="text" class="form-control" >
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <label>Dat. Término</label>
          <div class="input-group">
            <input type="text" class="form-control" >
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <label>Valor/Hora</label>
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-dollar"></i>
              </span>
            </div>
            <input class="form-control form-control-solid">
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <label>D. de Fat.</label>
          <select class="form-control" name="due_at">
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>
        <div class="col-lg-2 col-md-2">
          <label>D. de Venc.</label>
          <select class="form-control" name="due_at">
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>
        <div class="col-lg-2 col-md-2">
          <label>Multa p/ Cancel.</label>
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-dollar"></i>
              </span>
            </div>
            <input class="form-control form-control-solid">
          </div>
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>
      <p class="bg-primary-o-50 text-black py-2 px-4">Desconto</p>

      <div class="form-group row">
        <div class="col-lg-2 col-md-2">
          <label>Porcentagem</label>
          <div class="input-group">
            <input type="text" class="form-control" >
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-percent"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <label>Dat. de Inicio</label>
          <div class="input-group">
            <input type="text" class="form-control" >
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <label>Dat. de Término</label>
          <div class="input-group">
            <input type="text" class="form-control" >
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <label>Observação</label>
          <input class="form-control form-control-solid">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-12 col-md-12">
          <a href="#" class="btn btn-success btn-sm mr-3 pull-right">
            <i class="fa fa-plus-circle"></i> Adicionar
          </a>
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>
      <p class="bg-primary-o-50 text-black py-2 px-4">Atendimentos</p>

      <div class="form-group row">
        <div class="col-lg-2 col-md-2">
          <label>Periodicidade</label>
          <div class="radio-inline">
            <label class="radio radio-solid">
              <input type="radio" name="kind_attendance" checked="checked" value="1">
              <span></span>
              Semanal
            </label>
            <label class="radio radio-solid">
              <input type="radio" name="kind_attendance" value="2">
              <span></span>
              Quinzenal
            </label>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <label>Dat. Inicio</label>
          <div class="input-group">
            <input type="text" class="form-control" >
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <label>Dat. de Término</label>
          <div class="input-group">
            <input type="text" class="form-control" >
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <label>Dias de Atendimento</label>
          <div class="checkbox-inline">
            <label class="checkbox checkbox-outline">
              <input type="checkbox">
              <span>
              </span>
              Seg
            </label>
            <label class="checkbox checkbox-outline">
              <input type="checkbox">
              <span>
              </span>
              Ter
            </label>
            <label class="checkbox checkbox-outline">
              <input type="checkbox">
              <span>
              </span>
              Qua
            </label>
            <label class="checkbox checkbox-outline">
              <input type="checkbox">
              <span>
              </span>
              Qui
            </label>
            <label class="checkbox checkbox-outline">
              <input type="checkbox">
              <span>
              </span>
              Sext
            </label>
            <label class="checkbox checkbox-outline">
              <input type="checkbox">
              <span>
              </span>
              Sab
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-5 col-md-5">
          <label>Unidade</label>
          <select class="form-control" name="unit">
            <option value="00">Selecione uma Unidade</option>
            <option value="01">Pinheiros</option>
            <option value="02">Cardeal Arcoverde</option>
            <option value="03">Maestro Cardim</option>
            <option value="04">Pamplona</option>
            <option value="05">Veiga Filho</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3">
          <label>Sala</label>
          <select class="form-control" name="office">
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
          </select>
        </div>
        <div class="col-lg-2 col">
          <label>HR. Início</label>
          <div class="input-group date">
            <input class="form-control" id="kt_timepicker" name="time" type="text">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-clock-o"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <label>HR. Término</label>
          <div class="input-group date">
            <input class="form-control" id="kt_timepicker" name="time" type="text">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-clock-o"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-12">
          <a href="#" class="btn btn-success btn-sm mr-3 pull-right">
            <i class="fa fa-plus-circle"></i> Adicionar
          </a>
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>
      <p class="bg-primary-o-80 text-black py-2 px-4">Estacionamento</p>

      <div class="form-group row">
        <div class="col-lg-3">
          <label>Utiliza Estacionamento</label>
          <div class="radio-inline">
            <label class="radio radio-solid">
              <input type="radio" name="parking" checked="checked" value="1">
              <span></span>
              Sim
            </label>
            <label class="radio radio-solid">
              <input type="radio" name="parking" value="2">
              <span></span>
              Não
            </label>
          </div>
        </div>
        <div class="col-lg-2">
          <label>Placa</label>
          <div class="input-group">
            <input class="form-control form-control-solid">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-car"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <label>Valor</label>
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-dollar"></i>
              </span>
            </div>
            <input class="form-control form-control-solid">
          </div>
        </div>
        <div class="col-lg-5">
          <label>Observação</label>
          <input class="form-control form-control-solid">
        </div>
      </div>    
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-5"></div>
        <div class="col-7">
          <button type="submit" class="btn btn-primary mr-2">Salvar</button>
          <button type="reset" class="btn btn-secondary">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</form>