<div class="card card-custom gutter-b example example-compact">
  <div class="card-header">
    <h3 class="card-title">Novo Contrato</h3>
    <div class="card-toolbar">
      <div class="example-tools justify-content-center">
        <div class="radio-inline">
          <label class="radio radio-solid">
            <input type="radio" name="example_1" checked="checked" value="1">
            <span></span>
            Contrato Density
          </label>
          <label class="radio radio-solid">
            <input type="radio" name="example_2" value="2">
            <span></span>
            Contrato Pronto
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">

    <div class="form-group row">
      <div class="col-lg-3">
        <label>Nome / Razação Social</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-3">
        <label>Email</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-3">
        <label>Tipo</label>
        <div class="radio-inline">
          <label class="radio radio-solid">
            <input type="radio" name="example_1" checked="checked" value="1">
            <span></span>
            Pessoa Juridica
          </label>
          <label class="radio radio-solid">
            <input type="radio" name="example_2" value="2">
            <span></span>
            Pessoa Fisica
          </label>
        </div>
      </div>
      <div class="col-lg-3">
        <label>CNPJ</label>
        <input class="form-control form-control-solid">
      </div>
    </div>

    <div class="separator separator-dashed my-10"></div>

    <div class="form-group row">
      <div class="col-lg-3">
        <label>Cep</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-3">
        <label>Rua</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Numero</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-4">
        <label>Complemento</label>
        <input class="form-control form-control-solid">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-3">
        <label>Bairro</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-3">
        <label>Cidade</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Estado</label>
        <input class="form-control form-control-solid">
      </div>
    </div>

    <div class="separator separator-dashed my-10"></div>

    <div class="form-group row">
      <div class="col-lg-4">
        <label>Nome</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-3">
        <label>CPF</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Data Nascimento</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-3">
        <label>CRM</label>
        <input class="form-control form-control-solid">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-4">
        <label>E-mail</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-3">
        <label>Telefone</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-3">
        <label>Celular</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Especialidade</label>
        <input class="form-control form-control-solid">
      </div>
    </div>

    <div class="separator separator-dashed my-10"></div>

    <div class="form-group row">
      <div class="col-lg-2">
        <label>Data Inicio</label>
        <div class="input-group">
          <input type="text" class="form-control" id="kt_datepicker">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="la la-calendar-check-o"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <label>Data Término</label>
        <div class="input-group">
          <input type="text" class="form-control" id="kt_datepicker">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="la la-calendar-check-o"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <label>Valor/Hora</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Dia de Faturamento</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Dia de Vencimento</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Multa por Calcelamento</label>
        <input class="form-control form-control-solid">
      </div>
    </div>

    <div class="separator separator-dashed my-10"></div>

    <div class="form-group row">
      <div class="col-lg-1">
        <label>Porcentagem</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Data de Inicio</label>
        <div class="input-group">
          <input type="text" class="form-control" id="kt_datepicker">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="la la-calendar-check-o"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <label>Data de Término</label>
        <div class="input-group">
          <input type="text" class="form-control" id="kt_datepicker">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="la la-calendar-check-o"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <label>Observação</label>
        <input class="form-control form-control-solid">
      </div>
    </div>

    <div class="separator separator-dashed my-10"></div>

    <div class="form-group row">
      <div class="col-lg-3">
        <label>Periodicidade</label>
        <div class="radio-inline">
          <label class="radio radio-solid">
            <input type="radio" name="example_1" checked="checked" value="1">
            <span></span>
            Semanal
          </label>
          <label class="radio radio-solid">
            <input type="radio" name="example_2" value="2">
            <span></span>
            Quinzenal
          </label>
        </div>
      </div>
      <div class="col-lg-2">
        <label>Data de Inicio</label>
        <div class="input-group">
          <input type="text" class="form-control" id="kt_datepicker">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="la la-calendar-check-o"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <label>Data de Término</label>
        <div class="input-group">
          <input type="text" class="form-control" id="kt_datepicker">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="la la-calendar-check-o"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <label>Dias de Atendimento</label>
        <div class="checkbox-inline">
          <label class="checkbox checkbox-outline">
            <input type="checkbox">
            <span>
            </span>
            Seg
          </label>
          <label class="checkbox checkbox-outline">
            <input type="checkbox">
            <span>
            </span>
            Ter
          </label>
          <label class="checkbox checkbox-outline">
            <input type="checkbox">
            <span>
            </span>
            Qua
          </label>
          <label class="checkbox checkbox-outline">
            <input type="checkbox">
            <span>
            </span>
            Qui
          </label>
          <label class="checkbox checkbox-outline">
            <input type="checkbox">
            <span>
            </span>
            Sext
          </label>
          <label class="checkbox checkbox-outline">
            <input type="checkbox">
            <span>
            </span>
            Sab
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-5">
        <label>Unidade</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Sala</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Horario de Início</label>
        <div class="input-group date">
          <input class="form-control" id="kt_timepicker" name="time" type="text">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <label>Horario de Término</label>
        <div class="input-group date">
          <input class="form-control" id="kt_timepicker"  name="time" type="text">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-clock"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="separator separator-dashed my-10"></div>

    <div class="form-group row">
      <div class="col-lg-3">
        <label>Utiliza Estacionamento</label>
        <div class="radio-inline">
          <label class="radio radio-solid">
            <input type="radio" name="example_1" checked="checked" value="1">
            <span></span>
            Sim
          </label>
          <label class="radio radio-solid">
            <input type="radio" name="example_2" value="2">
            <span></span>
            Não
          </label>
        </div>
      </div>
      <div class="col-lg-2">
        <label>Placa</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-2">
        <label>Valor Estacionamento</label>
        <input class="form-control form-control-solid">
      </div>
      <div class="col-lg-5">
        <label>Observação</label>
        <input class="form-control form-control-solid">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-5"></div>
      <div class="col-7">
        <button type="reset" class="btn btn-primary mr-2">Salvar</button>
        <button type="reset" class="btn btn-secondary">Cancelar</button>
      </div>
    </div>
  </div>
</div>