<app-doctor-filter></app-doctor-filter>
<br />
  <div class="card card-custom card-stretch gutter-b">
    <div class="card-header border-0 py-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label font-weight-bolder text-dark">
          Médicos
        </span>
        <span class="text-muted mt-3 font-weight-bold font-size-sm">
          x médicos na base
        </span>
      </h3>
      <div class="card-toolbar">
        <a href="doctor-edit" class="btn btn-info font-weight-bolder font-size-sm mr-3">Novo Médico</a>
      </div>
    </div>
    <div class="card-body pt-0 pb-3">
      <app-doctor-grid [clients] = "clients"></app-doctor-grid>
    </div>
  </div>


