<div class="tab-content">
  <div class="table-responsive">
    <table class="table table-head-custom table-vertical-center table-head-bg table-borderless">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Inicial</th>
          <th>Termino</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
         <td class="pl-0 py-8">
           <div class="d-flex align-items-center">
             <div class="symbol symbol-50 symbol-light mr-4">
               <span class="symbol-label">
                 <span class="label label-lg label-primary label-inline font-weight-bold py-4"></span>
               </span>
             </div>
             <div>
               <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">
               Pascoa
                <span class="text-muted font-weight-bold d-block">Nacional</span>
               </a>
             </div>
           </div>
         </td>
         <td>
           <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
            01/01/2021
           </span>
         </td>
         <td>
          <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
           02/01/2021
           </span>
         </td>
         <td class="pr-0 text-right">
          <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2">
            <i class="fa fa-list-ol fa-1x"></i>
          </a>
           <a href="off-day-edit" class="btn btn-light-success font-weight-bolder font-size-sm">
            <i class="fa fa-pencil-square-o fa-1x"></i> Editar
           </a>
         </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

