.badge {
	display: inline-block;
	padding: .5em .75em;
	font-size: 85%;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .42rem;
	-webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
	.badge {
		-webkit-transition: none;
		transition: none
	}
}

a.badge:focus,
a.badge:hover {
	text-decoration: none
}

.badge:empty {
	display: none
}

.btn .badge {
	position: relative;
	top: -1px
}

.badge-pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem
}

.badge-primary {
	color: #fff;
	background-color: #1bc5bd
}

a.badge-primary:focus,
a.badge-primary:hover {
	color: #fff;
	background-color: #159892
}

a.badge-primary.focus,
a.badge-primary:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 .2rem rgba(27, 197, 189, .5);
	box-shadow: 0 0 0 .2rem rgba(27, 197, 189, .5)
}

.badge-secondary {
	color: #181c32;
	background-color: #e4e6ef
}

a.badge-secondary:focus,
a.badge-secondary:hover {
	color: #181c32;
	background-color: #c4c8dc
}

a.badge-secondary.focus,
a.badge-secondary:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 .2rem rgba(228, 230, 239, .5);
	box-shadow: 0 0 0 .2rem rgba(228, 230, 239, .5)
}

.badge-success {
	color: #fff;
	background-color: #3699ff
}

a.badge-success:focus,
a.badge-success:hover {
	color: #fff;
	background-color: #037fff
}

a.badge-success.focus,
a.badge-success:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 .2rem rgba(54, 153, 255, .5);
	box-shadow: 0 0 0 .2rem rgba(54, 153, 255, .5)
}

.badge-info {
	color: #fff;
	background-color: #6993ff
}

a.badge-info:focus,
a.badge-info:hover {
	color: #fff;
	background-color: #366eff
}

a.badge-info.focus,
a.badge-info:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 .2rem rgba(105, 147, 255, .5);
	box-shadow: 0 0 0 .2rem rgba(105, 147, 255, .5)
}

.badge-warning {
	color: #181c32;
	background-color: #ffa800
}

a.badge-warning:focus,
a.badge-warning:hover {
	color: #181c32;
	background-color: #cc8600
}

a.badge-warning.focus,
a.badge-warning:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 .2rem rgba(255, 168, 0, .5);
	box-shadow: 0 0 0 .2rem rgba(255, 168, 0, .5)
}

.badge-danger {
	color: #fff;
	background-color: #f64e60
}

a.badge-danger:focus,
a.badge-danger:hover {
	color: #fff;
	background-color: #f41d34
}

a.badge-danger.focus,
a.badge-danger:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 .2rem rgba(246, 78, 96, .5);
	box-shadow: 0 0 0 .2rem rgba(246, 78, 96, .5)
}

.badge-light {
	color: #181c32;
	background-color: #f3f6f9
}

a.badge-light:focus,
a.badge-light:hover {
	color: #181c32;
	background-color: #d1dde8
}

a.badge-light.focus,
a.badge-light:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 .2rem rgba(243, 246, 249, .5);
	box-shadow: 0 0 0 .2rem rgba(243, 246, 249, .5)
}

.badge-dark {
	color: #fff;
	background-color: #181c32
}

a.badge-dark:focus,
a.badge-dark:hover {
	color: #fff;
	background-color: #070910
}

a.badge-dark.focus,
a.badge-dark:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 .2rem rgba(24, 28, 50, .5);
	box-shadow: 0 0 0 .2rem rgba(24, 28, 50, .5)
}

.badge-white {
	color: #181c32;
	background-color: #fff
}

a.badge-white:focus,
a.badge-white:hover {
	color: #181c32;
	background-color: #e6e6e6
}

a.badge-white.focus,
a.badge-white:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
	box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5)
}

