subheader {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.subheader .subheader-separator {
	display: block;
	width: 12px;
	height: 4px;
	border-radius: 2px
}

.subheader .subheader-separator.subheader-separator-ver {
	width: 1px;
	height: 22px
}

.subheader.subheader-solid {
	background-color: #fff
}

@media (min-width:992px) {
	.subheader-fixed .subheader {
		position: fixed;
		height: 55px;
		top: 0;
		left: 0;
		right: 0;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		z-index: 95;
		background-color: #fff;
		-webkit-box-shadow: 0 10px 30px 0 rgba(82, 63, 105, .08);
		box-shadow: 0 10px 30px 0 rgba(82, 63, 105, .08);
		border-top: 1px solid #ebedf3;
		margin: 0
	}
	.subheader-fixed .subheader .subheader-title {
		font-size: 1.25rem
	}
	.aside-fixed.subheader-fixed .subheader {
		left: 100px
	}
	.aside-fixed.aside-secondary-enabled.subheader-fixed .subheader {
		left: 425px
	}
	.aside-minimize.aside-fixed.subheader-fixed .subheader {
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		left: 100px
	}
	.subheader-enabled:not(.subheader-fixed) .content {
		padding-top: 0
	}
	.subheader-enabled:not(.subheader-fixed) .subheader.subheader-solid {
		margin-bottom: 25px
	}
}

@media (max-width:991.98px) {
	.subheader-enabled .content {
		padding-top: 0
	}
	.subheader-enabled .subheader.subheader-solid {
		margin-bottom: 15px
	}
}

@media (min-width:992px) {
	.content {
		padding: 10px 0
	}
}

@media (max-width:991.98px) {
	.content {
		padding: 10px 0
	}
	.subheader-enabled.subheader-transparent .content {
		padding-top: 0
	}
}
