.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #3f4254;
	background-color: transparent
}

.table td,
.table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #ebedf3
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #ebedf3
}

.table tbody+tbody {
	border-top: 2px solid #ebedf3
}

.table-sm td,
.table-sm th {
	padding: .3rem
}

.table-bordered {
	border: 1px solid #ebedf3
}

.table-bordered td,
.table-bordered th {
	border: 1px solid #ebedf3
}

.table-bordered thead td,
.table-bordered thead th {
	border-bottom-width: 2px
}

.table-borderless tbody+tbody,
.table-borderless td,
.table-borderless th,
.table-borderless thead th {
	border: 0
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #ebedf3
}

.table-hover tbody tr:hover {
	color: #3f4254;
	background-color: #e4e6ef
}

.table-primary,
.table-primary>td,
.table-primary>th {
	background-color: #bfefed
}

.table-primary tbody+tbody,
.table-primary td,
.table-primary th,
.table-primary thead th {
	border-color: #88e1dd
}

.table-hover .table-primary:hover {
	background-color: #abeae7
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
	background-color: #abeae7
}

.table-secondary,
.table-secondary>td,
.table-secondary>th {
	background-color: #f7f8fb
}

.table-secondary tbody+tbody,
.table-secondary td,
.table-secondary th,
.table-secondary thead th {
	border-color: #f1f2f7
}

.table-hover .table-secondary:hover {
	background-color: #e6e9f3
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
	background-color: #e6e9f3
}

.table-success,
.table-success>td,
.table-success>th {
	background-color: #c7e2ff
}

.table-success tbody+tbody,
.table-success td,
.table-success th,
.table-success thead th {
	border-color: #96caff
}

.table-hover .table-success:hover {
	background-color: #aed5ff
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
	background-color: #aed5ff
}

.table-info,
.table-info>td,
.table-info>th {
	background-color: #d5e1ff
}

.table-info tbody+tbody,
.table-info td,
.table-info th,
.table-info thead th {
	border-color: #b1c7ff
}

.table-hover .table-info:hover {
	background-color: #bccfff
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
	background-color: #bccfff
}

.table-warning,
.table-warning>td,
.table-warning>th {
	background-color: #ffe7b8
}

.table-warning tbody+tbody,
.table-warning td,
.table-warning th,
.table-warning thead th {
	border-color: #ffd27a
}

.table-hover .table-warning:hover {
	background-color: #ffde9f
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
	background-color: #ffde9f
}

.table-danger,
.table-danger>td,
.table-danger>th {
	background-color: #fccdd2
}

.table-danger tbody+tbody,
.table-danger td,
.table-danger th,
.table-danger thead th {
	border-color: #faa3ac
}

.table-hover .table-danger:hover {
	background-color: #fbb5bc
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
	background-color: #fbb5bc
}

.table-light,
.table-light>td,
.table-light>th {
	background-color: #fcfcfd
}

.table-light tbody+tbody,
.table-light td,
.table-light th,
.table-light thead th {
	border-color: #f9fafc
}

.table-hover .table-light:hover {
	background-color: #ededf3
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
	background-color: #ededf3
}

.table-dark,
.table-dark>td,
.table-dark>th {
	background-color: #bebfc6
}

.table-dark tbody+tbody,
.table-dark td,
.table-dark th,
.table-dark thead th {
	border-color: #878994
}

.table-hover .table-dark:hover {
	background-color: #b0b2ba
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
	background-color: #b0b2ba
}

.table-white,
.table-white>td,
.table-white>th {
	background-color: #fff
}

.table-white tbody+tbody,
.table-white td,
.table-white th,
.table-white thead th {
	border-color: #fff
}

.table-hover .table-white:hover {
	background-color: #f2f2f2
}

.table-hover .table-white:hover>td,
.table-hover .table-white:hover>th {
	background-color: #f2f2f2
}

.table-active,
.table-active>td,
.table-active>th {
	background-color: #e4e6ef
}

.table-hover .table-active:hover {
	background-color: #d4d7e6
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
	background-color: #d4d7e6
}

.table .thead-dark th {
	color: #fff;
	background-color: #181c32;
	border-color: #242a4c
}

.table .thead-light th {
	color: #3f4254;
	background-color: #f3f6f9;
	border-color: #ebedf3
}

.table-dark {
	color: #fff;
	background-color: #181c32
}

.table-dark td,
.table-dark th,
.table-dark thead th {
	border-color: #242a4c
}

.table-dark.table-bordered {
	border: 0
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, .05)
}

.table-dark.table-hover tbody tr:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, .075)
}

@media (max-width:575.98px) {
	.table-responsive-sm {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
	.table-responsive-sm>.table-bordered {
		border: 0
	}
}

@media (max-width:767.98px) {
	.table-responsive-md {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
	.table-responsive-md>.table-bordered {
		border: 0
	}
}

@media (max-width:991.98px) {
	.table-responsive-lg {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
	.table-responsive-lg>.table-bordered {
		border: 0
	}
}

@media (max-width:1199.98px) {
	.table-responsive-xl {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
	.table-responsive-xl>.table-bordered {
		border: 0
	}
}

@media (max-width:1399.98px) {
	.table-responsive-xxl {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch
	}
	.table-responsive-xxl>.table-bordered {
		border: 0
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch
}

.table-responsive>.table-bordered {
	border: 0
}

.table thead td,
.table thead th {
	font-weight: 600;
	font-size: 1rem;
	border-bottom-width: 1px;
	padding-top: 1rem;
	padding-bottom: 1rem
}

.table.table-head-borderless thead td,
.table.table-head-borderless thead th {
	border-top: 0
}

.table.table-head-solid thead td,
.table.table-head-solid thead th {
	background-color: #f3f6f9
}

.table.table-light-primary thead tr {
	color: #1bc5bd;
	background-color: rgba(27, 197, 189, .1)
}

.table.table-light-secondary thead tr {
	color: #e4e6ef;
	background-color: rgba(228, 230, 239, .1)
}

.table.table-light-success thead tr {
	color: #3699ff;
	background-color: rgba(54, 153, 255, .1)
}

.table.table-light-info thead tr {
	color: #6993ff;
	background-color: rgba(105, 147, 255, .1)
}

.table.table-light-warning thead tr {
	color: #ffa800;
	background-color: rgba(255, 168, 0, .1)
}

.table.table-light-danger thead tr {
	color: #f64e60;
	background-color: rgba(246, 78, 96, .1)
}

.table.table-light-light thead tr {
	color: #f3f6f9;
	background-color: rgba(243, 246, 249, .1)
}

.table.table-light-dark thead tr {
	color: #181c32;
	background-color: rgba(24, 28, 50, .1)
}

.table.table-light-white thead tr {
	color: #fff;
	background-color: rgba(255, 255, 255, .1)
}

.table.table-head-custom thead th,
.table.table-head-custom thead tr {
	font-weight: 600;
	color: #b5b5c3!important;
	font-size: .9rem;
	text-transform: uppercase;
	letter-spacing: .1rem
}

.table.table-foot-custom tfoot td,
.table.table-foot-custom tfoot th {
	font-weight: 600;
	color: #b5b5c3!important;
	font-size: .9rem;
	text-transform: uppercase;
	letter-spacing: .1rem
}

.table.table-head-bg thead th,
.table.table-head-bg thead tr {
	background-color: #f3f6f9;
	border-bottom: 0;
	letter-spacing: 1px
}

.table.table-head-bg thead th:first-child,
.table.table-head-bg thead tr:first-child {
	border-top-left-radius: .42rem;
	border-bottom-left-radius: .42rem
}

.table.table-head-bg thead th:last-child,
.table.table-head-bg thead tr:last-child {
	border-top-right-radius: .42rem;
	border-bottom-right-radius: .42rem
}

.table.table-foot-bg tfoot td,
.table.table-foot-bg tfoot th {
	border-bottom: 0;
	background-color: #f3f6f9
}

.table.table-foot-bg tfoot td:first-child,
.table.table-foot-bg tfoot th:first-child {
	border-top-left-radius: .42rem;
	border-bottom-left-radius: .42rem
}

.table.table-foot-bg tfoot td:last-child,
.table.table-foot-bg tfoot th:last-child {
	border-top-right-radius: .42rem;
	border-bottom-right-radius: .42rem
}

.table.table-separate td,
.table.table-separate th {
	border-top: 0;
	border-bottom: 1px solid #ebedf3
}

.table.table-separate td:first-child,
.table.table-separate th:first-child {
	padding-left: 0!important
}

.table.table-separate td:last-child,
.table.table-separate th:last-child {
	padding-right: 0!important
}

.table.table-separate tfoot td,
.table.table-separate tfoot th {
	border-bottom: 0;
	border-top: 1px solid #ebedf3
}

.table.table-separate tbody tr:last-child td {
	border-bottom: 0
}

.table.table-bordered tfoot td,
.table.table-bordered tfoot th {
	border-bottom: 0
}

.table.table-vertical-center td,
.table.table-vertical-center th {
	vertical-align: middle
}

.table:not(.table-bordered) thead td,
.table:not(.table-bordered) thead th {
	border-top: 0
}
