 <div class="row">
  <div class="col-lg-8 col-md-8">
    <label>Unidade</label>
    <select class="form-control">
      <option value="00">Selecione uma Unidade</option>
      <option value="01">Pinheiros</option>
      <option value="02">Cardeal Arcoverde</option>
      <option value="03">Maestro Cardim</option>
      <option value="04">Pamplona</option>
      <option value="05">Veiga Filho</option>
    </select>
  </div>
  <div class="col-lg-4 col-md-4">
    <label>Sala</label>
    <select class="form-control">
      <option value="01">01</option>
      <option value="02">02</option>
      <option value="03">03</option>
      <option value="04">04</option>
      <option value="05">05</option>
    </select>
  </div>
</div>