<div class="card card-custom">
  <div class="card card-custom ">
    <div class="card-body">
      <div class="row">
        <div class="d-flex justify-content-start col-lg-5"></div>
        <div class="col-lg-6">
          <div class="d-flex align-items-center">
            <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
              <div class="symbol-label" style="background-image: url(' ./assets/users/300_25.jpg');"></div>
              <i class="symbol-badge fa fa-camera-retro fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="py-9">
        <div class="form-group row">
          <div class="col-lg-6">
            <label>Nome</label>
            <input class="form-control form-control-solid">
          </div>
          <div class="col-lg-4">
            <label>Email</label>
            <input class="form-control form-control-solid">
          </div>
          <div class="col-lg-2">
            <label>CRM</label>
            <input class="form-control form-control-solid">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-6">
            <label>Telefone</label>
            <input class="form-control form-control-solid">
          </div>
          <div class="col-lg-6">
            <label>Celular</label>
            <input class="form-control form-control-solid">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3">
            <label>RG</label>
            <input class="form-control form-control-solid">
          </div>
          <div class="col-lg-3">
            <label>CPF</label>
            <input class="form-control form-control-solid">
          </div>
          <div class="col-lg-3">
            <label>Centro de Custo</label>
            <select class="form-control" name="unit">
            </select>
          </div>
          <div class="col-lg-3">
            <label>Reporta-se</label>
            <select class="form-control" name="unit">
            </select>
          </div>
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>

      <div class="form-group row">
        <div class="col-lg-4">
          <label>Especialidade</label>
          <select class="form-control" name="unit">
          </select>
        </div>
        <div class="col-lg-3">
          <label>Duração</label>
          <input class="form-control form-control-solid">
        </div>
        <div class="col-lg-3">
          <label>Valor</label>
          <input class="form-control form-control-solid">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-2">
          <label>Confirmar consulta?</label>
          <div class="radio-inline">
            <label class="radio radio-solid">
              <input type="radio" name="example_1" checked="checked" value="1">
              <span></span>
              Sim
            </label>
            <label class="radio radio-solid">
              <input type="radio" name="example_2" value="2">
              <span></span>
              Não
            </label>
          </div>
        </div>
        <div class="col-lg-2">
          <label>Atende Retorno</label>
          <div class="radio-inline">
            <label class="radio radio-solid">
              <input type="radio" name="example_1" checked="checked" value="1">
              <span></span>
              Sim
            </label>
            <label class="radio radio-solid">
              <input type="radio" name="example_2" value="2">
              <span></span>
              Não
            </label>
          </div>
        </div>
        <div class="col-lg-3">
          <label>Retorno em (dias)</label>
          <input class="form-control form-control-solid">
        </div>
      </div>

      <div class="separator separator-dashed my-10"></div>

      <div class="form-group row">
        <div class="col-lg-12">
          <label>Unidade que atende</label>
          <div class="checkbox-inline">
            <label class="checkbox checkbox-outline checkbox-lg">
              <input type="checkbox">
              <span>
              </span>
              Pinheiros
            </label>
            <label class="checkbox checkbox-outline checkbox-lg">
              <input type="checkbox">
              <span>
              </span>
              Carde Arcoverde
            </label>
            <label class="checkbox checkbox-outline checkbox-lg">
              <input type="checkbox">
              <span>
              </span>
              Maestro Cardim
            </label>
            <label class="checkbox checkbox-outline checkbox-lg">
              <input type="checkbox">
              <span>
              </span>
              Paplona
            </label>
            <label class="checkbox checkbox-outline checkbox-lg">
              <input type="checkbox">
              <span>
              </span>
              Veiga Filho
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-7">
          <button class="btn btn-primary mr-2">Salvar</button>
          <button class="btn btn-secondary">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>