<app-off-day-filter></app-off-day-filter>
<br />
<div class="card card-custom card-stretch gutter-b">
  <div class="card-header border-0 py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">
        Bloqueios de agenda
      </span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm">
        {{ holidays.length }} bloqueios na base
      </span>
    </h3>
    <div class="card-toolbar">
      <a href="off-day-edit" class="btn btn-info font-weight-bolder font-size-sm mr-3">Novo Bloqueio</a>
    </div>
  </div>
  <div class="card-body pt-0 pb-3">
    <app-off-day-grid [holidays]=holidays></app-off-day-grid>
  </div>
</div>