.w-code{
  min-width: 60px;
  max-width: 62px;
}

.w-name{
  min-width: 140px !important;
  max-width: 142px !important;  
}

.w-default{
  min-width: 90px !important;
  max-width: 92px !important;  
}

.w-children{  
  min-width: 180px;
  max-width: 182px;
  text-align: left;
}