<app-user-filter></app-user-filter>
<br />
  <div class="card card-custom card-stretch gutter-b">
    <div class="card-header border-0 py-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label font-weight-bolder text-dark">
          Usuarios
        </span>
        <span class="text-muted mt-3 font-weight-bold font-size-sm">
          x usuarios na base
        </span>
      </h3>
      <div class="card-toolbar">
        <a href="user-edit" class="btn btn-info font-weight-bolder font-size-sm mr-3">Novo Usuário</a>
      </div>
    </div>
    <div class="card-body pt-0 pb-3">
      <app-user-grid></app-user-grid>
    </div>
  </div>

