<div class="row">
  <div class="col-lg-3 col-md-3">
    <label>Estado</label>
    <select class="form-control" (change)="onChangeState($event.target)">
      <option value="00">Selecione uma Estado</option>
      <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>               
    </select>
  </div>
  <div class="col-lg-4 col-md-4">
    <label>Cidade</label>
    <select class="form-control">
      <option value="01">Selecione uma Cidade</option>
      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>    
    </select>
  </div>
</div>

