<div class="card card-custom">
  <div class="card-header">
    <h3 class="card-title">Contas</h3>
    <div class="card-toolbar">
      <div class="justify-content-center">
        <a href="#" class="col-lg-1">
          <i class="fa fa-file-excel-o fa-1x"></i>
        </a>
        <a href="#" class="col-lg-1">
          <i class="fa fa-file-zip-o fa-1x"></i>
        </a>
        <a href="#" class="col-lg-1">
          <i class="fa fa-refresh fa-1x"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded"
      id="kt_datatable" style="">
      <table class="datatable-table" style="display: block;">
        <thead class="datatable-head">
          <tr class="datatable-row" style="left: 0px;">
            <th class="datatable-cell-center datatable-cell datatable-cell-check"><span style="width: 20px;"><label
                  class="checkbox checkbox-single checkbox-all"><input
                    type="checkbox">&nbsp;<span></span></label></span></th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Código</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Contrato</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Vencimento</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Valor</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Status</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Tipo</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 125px;">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="datatable-body" style="">
          <tr data-row="0" class="datatable-row" style="left: 0px;">
            <td class="datatable-cell-center datatable-cell datatable-cell-check" data-field="RecordID" aria-label="1">
              <span style="width: 20px;">
                <label class="checkbox checkbox-single">
                  <input type="checkbox" value="1">&nbsp;
                  <span></span>
                </label>
              </span>
            </td>
            <td class="datatable-cell">
              <span style="width: 129px;">0374-5070</span>
            </td>
            <td class="datatable-cell">
              <span style="width: 129px;">Bitencourt Medicina Integranda</span>
            </td>
            <td class="datatable-cell">
              <span style="width: 129px;">20/02/2021</span>
            </td>
            <td class="datatable-cell">
              <span style="width: 129px;">R$ 1000,00</span>
            </td>
            <td class="datatable-cell">
              <span style="width: 129px;">
                <span class="label font-weight-bold label-lg  label-light-danger label-inline">Aberto</span>
              </span>
            </td>
            <td class="datatable-cell">
              <span style="width: 129px;">
                <span class="label label-primary label-dot mr-2"></span>
                <span class="font-weight-bold text-primary">Density</span>
              </span>
            </td>
            <td class="datatable-cell">
              <span style="overflow: visible; position: relative; width: 125px;">
                <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2">
                  <i class="fa fa-refresh fa-1x"></i>
                </a>
                <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2">
                  <i class="fa fa-print"></i>
                </a>
                <a href="javascript:;" class="btn btn-sm btn-clean btn-icon">
                  <i class="fa fa-file-o"></i>
                </a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="datatable-pager datatable-paging-loaded">
        <ul class="datatable-pager-nav my-2 mb-sm-0">
          <li>
            <a class="datatable-pager-link datatable-pager-link-prev">
              <i class="fa fa-arrow-left"></i>
            </a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-number datatable-pager-link-active">1</a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-number">2</a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-number">3</a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-number">4</a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-number">5</a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-next">
              <i class="fa fa-arrow-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>