<div class="card card-custom">
  <div class="card-header">
    <h3 class="card-title">Contas</h3>
    <div class="card-toolbar">
      <div class="justify-content-center">
        <a href="#" class="col-lg-1">
          <i class="fa fa-file-excel-o fa-1x"></i>
        </a>
        <a href="#" class="col-lg-1">
          <i class="fa fa-file-zip-o fa-1x"></i>
        </a>
        <a href="#" class="col-lg-1">
          <i class="fa fa-refresh fa-1x"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-subtable
      datatable-loaded">
      <table class="datatable-table" style="display: block;">
        <thead class="datatable-head">
          <tr class="datatable-row" style="left: 0px;">
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 30px;"></span>
            </th>
            <th class="datatable-cell-center datatable-cell datatable-cell-check">
              <span style="width: 20px;">
                <label class="checkbox checkbox-single checkbox-all">
                  <input type="checkbox">&nbsp;
                  <span></span>
                </label>
              </span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Código</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Contrato</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Vencimento</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Valor</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Status</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 129px;">Tipo</span>
            </th>
            <th class="datatable-cell datatable-cell-sort">
              <span style="width: 125px;"></span>
            </th>
          </tr>
        </thead>
        <tbody class="datatable-body">
          <div *ngFor="let payroll of payrolls">
            <tr class="datatable-row datatable-row datatable-row-even datatable-row-subtable-expanded">
              <td class="datatable-cell-center datatable-cell">
                <a class="datatable-toggle-subtable" (click)="toggleShow(payroll.id)" style="width: 30px;">
                  <i style="width: 30px;" class="fa fa-caret-down" *ngIf="isShown"></i>
                  <i style="width: 30px;" class="fa fa-caret-right" *ngIf="!isShown"></i>
                </a>
              </td>
              <td class="datatable-cell-center datatable-cell datatable-cell-check">
                <span style="width: 20px;">
                  <label class="checkbox checkbox-single">
                    <input type="checkbox" value="1">&nbsp;
                    <span></span>
                  </label>
                </span>
              </td>
              <td class="datatable-cell">
                <span style="width: 129px;">{{ payroll.id }}</span>
              </td>
              <td class="datatable-cell">
                <span style="width: 129px;">{{ payroll.contract_name}}</span>
              </td>
              <td class="datatable-cell">
                <span style="width: 129px;">{{ payroll.due_at | date:"dd/MM/yyyy"}}</span>
              </td>
              <td class="datatable-cell">
                <span style="width: 129px;">{{ payroll.amount | currency : 'R$'}}</span>
              </td>
              <td class="datatable-cell">
                <span style="width: 129px;">
                  <span class="label font-weight-bold label-lg  label-light-danger label-inline">Aberto</span>
                </span>
              </td>
              <td class="datatable-cell">
                <span style="width: 129px;">
                  <span class="label label-primary label-dot mr-2"></span>
                  <span class="font-weight-bold text-primary">Density</span>
                </span>
              </td>
              <td class="datatable-cell">
                <span style="overflow: visible; position: relative; width: 125px;">
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2">
                    <i class="fa fa-refresh fa-1x"></i>
                  </a>
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2">
                    <i class="fa fa-print"></i>
                  </a>
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon">
                    <i class="fa fa-arrow-circle-o-down"></i>
                  </a>
                </span>
              </td>
            </tr>
            <tr class="datatable-row-subtable" *ngIf="payroll.payroll_items.length > 0 && isShown">
              <td class="datatable-subtable" colspan="9">
                <div class="datatable datatable-default datatable-primary datatable-loaded">
                  <table class="datatable-table">
                    <thead class="datatable-head">
                      <tr class="datatable-row text-center">
                        <th class="datatable-cell">
                          <span style="width: 112px;">Código</span>
                        </th>
                        <th class="datatable-cell">
                          <span style="width: 112px;">Periodo</span>
                        </th>
                        <th class="datatable-cell">
                          <span style="width: 112px;">Unidade</span>
                        </th>
                        <th class="datatable-cell">
                          <span style="width: 112px;">Horas</span>
                        </th>
                        <th class="datatable-cell">
                          <span style="width: 112px;">Tipo</span>
                        </th>
                        <th class="datatable-cell">
                          <span style="width: 112px;">Valor</span>
                        </th>
                        <th class="datatable-cell"></th>
                      </tr>
                    </thead>
                    <tbody class="datatable-body">
                      <tr *ngFor="let item of payroll.payroll_items" class="datatable-row text-center">
                        <td class="datatable-cell">
                          <span style="width: 112px;">{{ item.id }}</span>
                        </td>
                        <td class="datatable-cell">
                          <span style="width: 112px;">{{ item.period | date:"dd/MM/yyyy" }}</span>
                        </td>
                        <td class="datatable-cell">
                          <span style="width: 112px;">{{ item.clinic_id }}</span>
                        </td>
                        <td class="datatable-cell">
                          <span style="width: 112px;">{{ item.hours }}</span>
                        </td>
                        <td class="datatable-cell">
                          <span style="width: 112px;">{{ item.odd }}</span>
                        </td>
                        <td class="datatable-cell">
                          <span style="width: 129px;">{{ item.amount | currency : 'R$' }}</span>
                        </td>
                        <td class="datatable-cell datatable-cell-sort"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
      <div class="datatable-pager datatable-paging-loaded">
        <ul class="datatable-pager-nav my-2 mb-sm-0">
          <li>
            <a class="datatable-pager-link datatable-pager-link-prev">
              <i class="fa fa-arrow-left"></i>
            </a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-number datatable-pager-link-active">1</a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-number">2</a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-number">3</a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-number">4</a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-number">5</a>
          </li>
          <li>
            <a class="datatable-pager-link datatable-pager-link-next">
              <i class="fa fa-arrow-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>