.border-primary {
	border-color: #1bc5bd!important
}

.border-top-primary {
	border-top-color: #1bc5bd!important
}

.border-right-primary {
	border-right-color: #1bc5bd!important
}

.border-bottom-primary {
	border-bottom-color: #1bc5bd!important
}

.border-left-primary {
	border-left-color: #1bc5bd!important
}

.border-secondary {
	border-color: #e4e6ef!important
}

.border-top-secondary {
	border-top-color: #e4e6ef!important
}

.border-right-secondary {
	border-right-color: #e4e6ef!important
}

.border-bottom-secondary {
	border-bottom-color: #e4e6ef!important
}

.border-left-secondary {
	border-left-color: #e4e6ef!important
}

.border-success {
	border-color: #3699ff!important
}

.border-top-success {
	border-top-color: #3699ff!important
}

.border-right-success {
	border-right-color: #3699ff!important
}

.border-bottom-success {
	border-bottom-color: #3699ff!important
}

.border-left-success {
	border-left-color: #3699ff!important
}

.border-info {
	border-color: #6993ff!important
}

.border-top-info {
	border-top-color: #6993ff!important
}

.border-right-info {
	border-right-color: #6993ff!important
}

.border-bottom-info {
	border-bottom-color: #6993ff!important
}

.border-left-info {
	border-left-color: #6993ff!important
}

.border-warning {
	border-color: #ffa800!important
}

.border-top-warning {
	border-top-color: #ffa800!important
}

.border-right-warning {
	border-right-color: #ffa800!important
}

.border-bottom-warning {
	border-bottom-color: #ffa800!important
}

.border-left-warning {
	border-left-color: #ffa800!important
}

.border-danger {
	border-color: #f64e60!important
}

.border-top-danger {
	border-top-color: #f64e60!important
}

.border-right-danger {
	border-right-color: #f64e60!important
}

.border-bottom-danger {
	border-bottom-color: #f64e60!important
}

.border-left-danger {
	border-left-color: #f64e60!important
}

.border-light {
	border-color: #f3f6f9!important
}

.border-top-light {
	border-top-color: #f3f6f9!important
}

.border-right-light {
	border-right-color: #f3f6f9!important
}

.border-bottom-light {
	border-bottom-color: #f3f6f9!important
}

.border-left-light {
	border-left-color: #f3f6f9!important
}

.border-dark {
	border-color: #181c32!important
}

.border-top-dark {
	border-top-color: #181c32!important
}

.border-right-dark {
	border-right-color: #181c32!important
}

.border-bottom-dark {
	border-bottom-color: #181c32!important
}

.border-left-dark {
	border-left-color: #181c32!important
}

.border-white {
	border-color: #fff!important
}

.border-top-white {
	border-top-color: #fff!important
}

.border-right-white {
	border-right-color: #fff!important
}

.border-bottom-white {
	border-bottom-color: #fff!important
}

.border-left-white {
	border-left-color: #fff!important
}

.border-light-white {
	border-color: #fff!important
}

.border-top-light-white {
	border-top-color: #fff!important
}

.border-right-light-white {
	border-right-color: #fff!important
}

.border-bottom-light-white {
	border-bottom-color: #fff!important
}

.border-left-light-white {
	border-left-color: #fff!important
}

.border-light-primary {
	border-color: #c9f7f5!important
}

.border-top-light-primary {
	border-top-color: #c9f7f5!important
}

.border-right-light-primary {
	border-right-color: #c9f7f5!important
}

.border-bottom-light-primary {
	border-bottom-color: #c9f7f5!important
}

.border-left-light-primary {
	border-left-color: #c9f7f5!important
}

.border-light-secondary {
	border-color: #ebedf3!important
}

.border-top-light-secondary {
	border-top-color: #ebedf3!important
}

.border-right-light-secondary {
	border-right-color: #ebedf3!important
}

.border-bottom-light-secondary {
	border-bottom-color: #ebedf3!important
}

.border-left-light-secondary {
	border-left-color: #ebedf3!important
}

.border-light-success {
	border-color: #e1f0ff!important
}

.border-top-light-success {
	border-top-color: #e1f0ff!important
}

.border-right-light-success {
	border-right-color: #e1f0ff!important
}

.border-bottom-light-success {
	border-bottom-color: #e1f0ff!important
}

.border-left-light-success {
	border-left-color: #e1f0ff!important
}

.border-light-info {
	border-color: #e1e9ff!important
}

.border-top-light-info {
	border-top-color: #e1e9ff!important
}

.border-right-light-info {
	border-right-color: #e1e9ff!important
}

.border-bottom-light-info {
	border-bottom-color: #e1e9ff!important
}

.border-left-light-info {
	border-left-color: #e1e9ff!important
}

.border-light-warning {
	border-color: #fff4de!important
}

.border-top-light-warning {
	border-top-color: #fff4de!important
}

.border-right-light-warning {
	border-right-color: #fff4de!important
}

.border-bottom-light-warning {
	border-bottom-color: #fff4de!important
}

.border-left-light-warning {
	border-left-color: #fff4de!important
}

.border-light-danger {
	border-color: #ffe2e5!important
}

.border-top-light-danger {
	border-top-color: #ffe2e5!important
}

.border-right-light-danger {
	border-right-color: #ffe2e5!important
}

.border-bottom-light-danger {
	border-bottom-color: #ffe2e5!important
}

.border-left-light-danger {
	border-left-color: #ffe2e5!important
}

.border-light-light {
	border-color: #f3f6f9!important
}

.border-top-light-light {
	border-top-color: #f3f6f9!important
}

.border-right-light-light {
	border-right-color: #f3f6f9!important
}

.border-bottom-light-light {
	border-bottom-color: #f3f6f9!important
}

.border-left-light-light {
	border-left-color: #f3f6f9!important
}

.border-light-dark {
	border-color: #d1d3e0!important
}

.border-top-light-dark {
	border-top-color: #d1d3e0!important
}

.border-right-light-dark {
	border-right-color: #d1d3e0!important
}

.border-bottom-light-dark {
	border-bottom-color: #d1d3e0!important
}

.border-left-light-dark {
	border-left-color: #d1d3e0!important
}
