.font-size-base {
	font-size: 1rem
}

.font-size-sm {
	font-size: .925rem
}

.font-size-xs {
	font-size: .8rem
}

.font-size-lg {
	font-size: 1.08rem
}

.font-size-h1 {
	font-size: 2rem!important
}

.font-size-h2 {
	font-size: 1.75rem!important
}

.font-size-h3 {
	font-size: 1.5rem!important
}

.font-size-h4 {
	font-size: 1.35rem!important
}

.font-size-h5 {
	font-size: 1.25rem!important
}

.font-size-h6 {
	font-size: 1.175rem!important
}
.font-weight-boldest {
	font-weight: 700
}
.font-weight-light {
	font-weight: 300!important
}

.font-weight-lighter {
	font-weight: lighter!important
}

.font-weight-normal {
	font-weight: 400!important
}

.font-weight-bold {
	font-weight: 500!important
}

.font-weight-bolder {
	font-weight: 600!important
}

.font-italic {
	font-style: italic!important
}
