.w-code{
  min-width: 60px;
  max-width: 62px;
}

.w-default{
  min-width: 180px !important;
  max-width: 182px !important;
  text-align: left;
}

.w-children{
  text-align: left !important;
  min-width: 180px;
  max-width: 182px;
}