/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~ngx-toastr/toastr';


// ASSETS
@import "./assets/css/default.scss";
@import "./assets/css/grid.scss";
@import "./assets/css/table.scss";
@import "./assets/css/form.scss";
@import "./assets/css/btn.scss";
@import "./assets/css/input-groups.scss";
@import "./assets/css/custom-fields.scss";
@import "./assets/css/navbar.scss";
@import "./assets/css/card.scss";
@import "./assets/css/accordion.scss";
@import "./assets/css/breadcrumb.scss";
@import "./assets/css/pagination.scss";
@import "./assets/css/badge.scss";
@import "./assets/css/alerts.scss";
@import "./assets/css/list-group.scss";
@import "./assets/css/tooltip.scss";
@import "./assets/css/popover.scss";
@import "./assets/css/datatable.scss";
@import "./assets/css/checkbox.scss";
@import "./assets/css/radio.scss";
@import "./assets/css/switch.scss";
@import "./assets/css/option.scss";
@import "./assets/css/dialog.scss";
@import "./assets/css/separator.scss";
@import "./assets/css/image.scss";
@import "./assets/css/label.scss";
@import "./assets/css/loader.scss";
@import "./assets/css/symbol.scss";
@import "./assets/css/sv-icon.scss";
@import "./assets/css/list.scss";
@import "./assets/css/datepicker.scss";
@import "./assets/css/bg.scss";

@import "./assets/css/fonts.scss";
@import "./assets/css/text.scss";
@import "./assets/css/borders.scss";
@import "./assets/css/spaces.scss";
@import "./assets/css/alerts.scss";
@import "./assets/css//dropdown.scss";


@import "./assets/css/media-query.scss";
@import "./assets/css/media-query-grid.scss";
@import "./assets/css/sv-icon-medica-query.scss";
@import "./assets/css/spaces-media-query.scss";
@import "./assets/css/aside-media-query.scss";

@import "./assets/css/aside.scss";
@import "./assets/css/subheader.scss";

body {
  background: #f3f6f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #3f4254;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px!important;
  font-weight: 400;
  font-family: Poppins,Helvetica,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
	display: -webkit-box!important;
	display: -ms-flexbox!important;
	display: flex!important
}

.flex-row{
  -webkit-box-orient: horizontal!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}

.flex-row-auto {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto
}

.flex-row-fluid {
	-webkit-box-flex: 1;
	flex: 1 auto;
	-ms-flex: 1 0 0px;
	min-width: 0
}

.flex-column {
	-webkit-box-orient: vertical!important;
	-webkit-box-direction: normal!important;
	-ms-flex-direction: column!important;
	flex-direction: column!important
}

.flex-column-fluid {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto
}

.flex-wrap {
	-ms-flex-wrap: wrap!important;
	flex-wrap: wrap!important
}

.flex-sm-nowrap {
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important
}

.align-items-center {
	-webkit-box-align: center!important;
	-ms-flex-align: center!important;
	align-items: center!important
}

.align-items-baseline {
	-webkit-box-align: baseline!important;
	-ms-flex-align: baseline!important;
	align-items: baseline!important
}

.text-dark {
	color: #181c32!important
}


.tab-content>.tab-pane {
	display: none
}

.tab-content>.active {
	display: block
}

.justify-content-between {
	-webkit-box-pack: justify!important;
	-ms-flex-pack: justify!important;
	justify-content: space-between!important
}

.backgroud-modal{
	background: #1bc5bd;
}
.toast-top-right{
	width: 420px!important;
	margin-top: 10px !important;
}

